h3='Nepríde jedlo :-('
.row
  .col
    .btn-group
      - var btns = ['warning', 'success', 'secondary', 'primary']
      - var activeBtn = 0
      each restaurant in office.restaurants
        if restaurant.isNotifiable
          a(
            class="btn btn-"+btns[activeBtn++]
            onclick=`notifyOrdered('${office.id}', '${restaurant.id}', false, this)`
          )=restaurant.name
          - if (activeBtn === btns.length) activeBtn = 0
