div(class='row')
  div(class='col-lg-4 col-md-4 col-sm-4 col-xs-4')
    a(href='/')
      button(class='btn btn-success btn-responsive')='Home'
  div(class='col-lg-4 col-md-4 col-sm-4 col-xs-4')
    a(href='/named')
      button(class='btn btn-success btn-responsive')='S menami'
  div(class='col-lg-4 col-md-4 col-sm-4 col-xs-4')
    a(href='/notifications')
      button(class='btn btn-success btn-responsive')='Notifikácie'