# server configuration
OBEDBOT_DEV=true
OBEDBOT_PORT=4000

# slack config
OBEDBOT_BOT_TOKEN=
OBEDBOT_BOT_ID=
OBEDBOT_CHANNEL_ID=

# restaurant menu links
OBEDBOT_PRESTO=http://www.pizza-presto.sk/default.aspx?p=catalogpage&group=1
OBEDBOT_VEGLIFE=http://www.veglife.sk/sk/menu-2/
OBEDBOT_HAMKA=http://hamka.sk/print.php?menu=1?date=
