doctype html
html
  include includes/head.pug

  body
    div(id='main')
      div(class='row')
        h1(id='title-main')
          b= tableName
      div(class='row')
        div(class='col-lg-12 col-md-12 col-sm-12 col-xs-12')
        include includes/links.pug

      div(class='row')
        div(class='col-lg-3 col-md-3 col-sm-12 col-xs-12')
          include restaurants/presto.pug

        div(class='col-lg-2 col-md-2 col-sm-12 col-xs-12')
          include restaurants/pizza.pug

        div(class='col-lg-2 col-md-2 col-sm-12 col-xs-12')
          include restaurants/veglife.pug

        div(class='col-lg-2 col-md-2 col-sm-12 col-xs-12')
          include restaurants/mizza.pug

        div(class='col-lg-3 col-md-3 col-sm-12 col-xs-12')
          include restaurants/shop.pug
      div(class='row')
        div(class='col-lg-3 col-md-3 hidden-sm hidden-xs')
        div(class='col-lg-3 col-md-3 col-sm-12 col-xs-12')
          include includes/foodArrived.pug
        div(class='col-lg-3 col-md-3 col-sm-12 col-xs-12')
          include includes/foodWontArrive.pug
        div(class='col-lg-3 col-md-3 hidden-sm hidden-xs')