doctype html
html
  include includes/head.pug

  body
    include includes/navbar.pug

    .container
      .row
        each restaurantView in restaurantViews
          .col-md-3.col-xs-12 !{restaurantView}
            hr.d-block.d-sm-none

    hr
    .container
      .row
        .col
          include includes/foodArrived.pug
        .col
          include includes/foodWontArrive.pug
