doctype html
html
  include includes/head.pug

  body
    include includes/navbar.pug

    .container
      .row
        .col-md-3.col-xs-12
          include restaurants/presto.pug
          hr.d-block.d-sm-none

        .col-md-3.col-xs-12
          include restaurants/veglife.pug
          hr.d-block.d-sm-none

        .col-md-3.col-xs-12
          include restaurants/hamka.pug
          hr.d-block.d-sm-none

        .col-md-3.col-xs-12
          include restaurants/click.pug
          hr.d-block.d-sm-none

        .col-md-3.col-xs-12
          include restaurants/shop.pug
    hr
    .container
      .row
        .col
          include includes/foodArrived.pug
        .col
          include includes/foodWontArrive.pug
