doctype html
html
  include includes/head.pug

  body
    include includes/navbar.pug

    each office in offices
      .container
        .row
          .col-2
            h3= office.name
          .col-10
            table.table.table-sm
              thead.thead-light
                th='Meno'
                th='Notifikácie'
              tbody
                each user in users
                  if user.office === office.id
                    tr
                      td=user.username
                      td
                        if user.notifications
                          a(href='/mute?channel=' + user.channel_id)
                            ='ON'
                        else
                          a(href='/unmute?channel=' + user.channel_id)
                            ='OFF'
