body {
  background-image: url('../background.png');
  font-size: 16px;
}

.table {
  background-color: white;
}

td + td,
th + th {
  border-left: 1px solid #ccc;
}

.table-sm td,
.table-sm th {
  padding: .3rem .5rem;
}

.table .thead-light th {
  border-left-color: #ccc;
  border-bottom-color: #ccc;
}

.navbar .container {
  margin: 0 auto;
}

.container {
  margin: 2rem auto;
}

.col {
  margin-bottom: 1rem;
}

td.note {
  padding-left: 25px;
  font-style: italic;
}
