table.table.table-sm
  thead.thead-light
    tr
      - var i = 1;
      while i <= totalMeals
        th= i++
  tbody
    tr
      - var i = 1;
      while i <= totalMeals
        td #{(main && main[i]) || ''}
        - i++

table.table.table-sm
  thead.thead-light
    tr
      th Číslo polievky
      th Počet
  tbody
    if soup
      each amount, soupNumber in soup
        tr
          td=soupNumber
          td=amount
