h3='Hamka'

table.table.table-sm
  thead.thead-light
    tr
      th Číslo
      th Počet
  each notes, number in hamka
    if notes.length > 0
      tbody
        tr
          td=number
          td=notes.length
          each note in notes
            if note != ''
              tr
                td.note(colspan="2")=note
