h3='Pizza Mizza'
table.table.table-sm
  thead.thead-light
    tr
      each food in ['A', 'B', 'C', 'Polievky']
        th=food
  tbody
    tr
      each food in ['a', 'b', 'c', 'soups']
        if mizza[food] > 0
          td=mizza[food]
        else
          td
