h3(id='title-pizza', class='title')
  b Pizza
table(id='table-pizza', class='table')
  thead
    tr
      th Číslo pizze
      th Počet
  tbody
    each amount, pizzaType in pizza
      tr
        td=pizzaType
        td=amount
