h3(id='title-presto', class='title')
  b Presto
table(id='table-presto', class='table')
  thead
    tr
      - var i = 0;
      while i < presto.meals.length
        th= ++i
  tbody
    tr
      each amount in presto.meals
        td
          unless amount === 0
            b=amount

table(id='table-presto-soups', class='table')
  thead
    tr
      th Číslo polievky
      th Počet
  tbody
    each amount, soupNumber in presto.soups
      tr
        td=soupNumber
        td=amount
