h3(id='title-spaghetti', class='title')
  b Spaghetti
table(id='table-spaghetti', class='table')
  tr
    th Typ
    th PoÄet
  - for (var key in spaghetti) {
      tr
        td= key
        td= spaghetti[key]
  - }