h3(id='title-spaghetti', class='title')
  b Spaghetti
table(id='table-spaghetti', class='table')
  thead
    tr
      th='Typ'
      th='PoÄet'
  tbody
    each amount, type in spaghetti
      tr
        td=type
        td=amount
